/* app.css */
.grid-container-pas {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; /* Adjust the gap between cards as needed */
}

.card-styles-pas {
  width: 100%; /* Ensure each card takes up the full width of its container */
}

/* Remove min-height from grid-item if unnecessary */
.grid-item-pas {
  width: 100%;
}

/* Remove excessive top margin from card-note */
.card-note-pas {
  margin-top: 25px;
}
