/* StateAICSS.css */
.grid-container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Adjust the gap between cards as needed */
  }
  
  .grid-item {
    width: 20%;
    min-height: 200px;
  }
  

  .grid-banner{
    margin-top: 25px;
    gap: 16px; /* Adjust the gap between cards as needed */
  }
  

  
  .card-note {
    margin-top: 25px;;
  }