.pagination {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: #00684a;
    margin-right: 15px;
    margin-top: 15px;
}

h1 {
    margin-left: 25px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #00684a;
}

.custom-card {
    width: calc(100% - 20px);
    margin: 10px;
    margin-right: 40px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.even-row {
    background-color: #f9f9f9; /* Light gray background color for even rows */
    padding: 5px;
}

.odd-row {
    background-color: #ffffff; /* White background color for odd rows */
    padding: 5px;
}

